	#v-vaccine_infographic-box ,
	#v-vaccine_infographic-box .v-artboard {
		margin:0 auto;
	}
	#v-vaccine_infographic-box p {
		margin:0;
	}
	#v-vaccine_infographic-box .v-aiAbs {
		position:absolute;
	}
	#v-vaccine_infographic-box .v-aiImg {
		position:absolute;
		top:0;
		display:block;
		width:100% !important;
	}
	#v-vaccine_infographic-box .v-aiSymbol {
		position: absolute;
		box-sizing: border-box;
	}
	#v-vaccine_infographic-box .v-aiPointText p { white-space: nowrap; }
	#v-vaccine_infographic-large {
		position:relative;
		overflow:hidden;
	}
	#v-vaccine_infographic-large p {
		font-family:larsseit_regular,sans-serif;
		font-weight:normal;
		line-height:18px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(189,56,35);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#v-vaccine_infographic-large .v-pstyle0 {
		font-family:larsseit_medium,sans-serif;
		line-height:22px;
		font-size:18px;
		color:rgb(4,40,74);
	}
	#v-vaccine_infographic-large .v-pstyle1 {
		color:rgb(75,83,93);
	}
	#v-vaccine_infographic-large .v-pstyle2 {
		font-family:larsseit_bold,sans-serif;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(4,40,74);
		top:1.1px;
		position:relative;
	}
	#v-vaccine_infographic-large .v-pstyle3 {
		line-height:17px;
		color:rgb(96,102,107);
	}
	#v-vaccine_infographic-medium {
		position:relative;
		overflow:hidden;
	}
	#v-vaccine_infographic-medium p {
		font-family:larsseit_regular,sans-serif;
		font-weight:normal;
		line-height:18px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(189,56,35);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#v-vaccine_infographic-medium .v-pstyle0 {
		font-family:larsseit_medium,sans-serif;
		line-height:22px;
		font-size:18px;
		color:rgb(4,40,74);
	}
	#v-vaccine_infographic-medium .v-pstyle1 {
		color:rgb(75,83,93);
	}
	#v-vaccine_infographic-medium .v-pstyle2 {
		font-family:larsseit_bold,sans-serif;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(4,40,74);
		top:1.1px;
		position:relative;
	}
	#v-vaccine_infographic-medium .v-pstyle3 {
		line-height:17px;
		color:rgb(96,102,107);
	}
	#v-vaccine_infographic-small {
		position:relative;
		overflow:hidden;
	}
	#v-vaccine_infographic-small p {
		font-family:larsseit_regular,sans-serif;
		font-weight:normal;
		line-height:18px;
		filter:alpha(opacity=100);
		-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity:1;
		letter-spacing:0em;
		font-size:13px;
		text-align:left;
		color:rgb(189,56,35);
		text-transform:none;
		padding-bottom:0;
		padding-top:0;
		mix-blend-mode:normal;
		font-style:normal;
		height:auto;
		position:static;
	}
	#v-vaccine_infographic-small .v-pstyle0 {
		font-family:larsseit_medium,sans-serif;
		line-height:22px;
		font-size:18px;
		color:rgb(4,40,74);
	}
	#v-vaccine_infographic-small .v-pstyle1 {
		color:rgb(75,83,93);
	}
	#v-vaccine_infographic-small .v-pstyle2 {
		font-family:larsseit_bold,sans-serif;
		line-height:17px;
		height:17px;
		font-size:14px;
		color:rgb(4,40,74);
		top:1.1px;
		position:relative;
	}
	#v-vaccine_infographic-small .v-pstyle3 {
		line-height:17px;
		color:rgb(96,102,107);
	}
