#Womens_Power_Index{
width:100%;
background-color:white;
z-index:11;
}

#Womens_Power_Index :focus {outline:0 !important}

#Womens_Power_Index-chartDiv .font-lem {
  font-family: 'lemonde-journal',serif;
}

#Womens_Power_Index-chartDiv .font-lemi {
  font-family: 'lemonde-journal',serif;
  font-style: italic
}

#Womens_Power_Index-chartDiv .font-li {
  font-family: 'Larsseit','Arial',serif;
  font-style: italic
}

#Womens_Power_Index-chartDiv .font-l {
  font-family: 'Larsseit','Arial',serif;
}

#Womens_Power_Index-chartDiv .font-lm {
  font-family: 'Larsseit','Arial',serif;
  font-weight: bolder;
}

#Womens_Power_Index-chartDiv .text-gray {
  color: #60666B;
}

#Womens_Power_Index-chartDiv .cool-grey {
  color: #9ea3a5;
}

#Womens_Power_Index-chartDiv .text-bship {
  color: #4b535d;
}

#Womens_Power_Index-chartDiv #chartscale{
  font-size: 14px;
}

#Womens_Power_Index-chartDiv{
  line-height: 1 !important;
  max-width:1024px;
  margin:0 auto;
  letter-spacing:0 !important;
  z-index: 11;
  overflow-x:hidden;
  padding-left:20px;
  padding-right:20px;
  background-color:white;
}

#Womens_Power_Index-chartDiv .tick line{
  stroke: #4b535d;
  stroke-width:1px;
}

#Womens_Power_Index-chartDiv .tick text{
  color: #4b535d;
  font-weight:bolder
}

#Womens_Power_Index-chartDiv p{
font-size: 13px;
line-height: 27px!important;
}

#Womens_Power_Index-chartDiv a {
  color:#4b535d;
  text-decoration: underline;
}

#Womens_Power_Index-chartDiv .bb{
  width: 100% !important;
}

#Womens_Power_Index-chartDiv table.dataTable{
  color: #4b535d !important;
  table-layout: fixed;
  max-width:1024px;
  width:100%;
}

#Womens_Power_Index-chartDiv table.dataTable p{
  font-family: 'Larsseit','Arial', serif !important;
}

#Womens_Power_Index-chartDiv table.dataTable td {
  padding: 5px !important;
  padding-left:0px !important;
  height: 26px !important;
  line-height: 2 !important;
  vertical-align: middle !important;
  font-size: 13px !important;
}

#Womens_Power_Index-chartDiv table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: border-box !important;
}

#Womens_Power_Index-chartDiv .dataTables_scrollBody img{
  display:none;
}

#Womens_Power_Index-chartDiv thead img{
  border: none !important;
}

#Womens_Power_Index-chartDiv table.dataTable thead th {
    position: relative;
    background-image: none !important;
    text-align:left;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: white;
    font-size: 16px;
    line-height: 19px !important;
    font-weight: 500;
    padding-left: 0px;
    vertical-align: bottom;
}

#Womens_Power_Index-chartDiv  table.dataTable thead th, table.dataTable thead td{
  border-bottom: 1px solid #dddddd;
}

#Womens_Power_Index-chartDiv .dataTables_wrapper.no-footer .dataTables_scrollBody{
  border-bottom: 0px;
}

#Womens_Power_Index-chartDiv table.dataTable.no-footer{
  border-bottom: 0px;
}

#Womens_Power_Index-chartDiv table.dataTable thead .sorting_asc,
#Womens_Power_Index-chartDiv table.dataTable thead .sorting_-2,
 #Womens_Power_Index-chartDiv table.dataTable thead .sorting {

 }

#Womens_Power_Index-chartDiv table.dataTable thead th.sorting:after,
#Womens_Power_Index-chartDiv table.dataTable thead th.sorting_asc:after,
#Womens_Power_Index-chartDiv table.dataTable thead th.sorting_desc:after {
    content: "";
    position: absolute !important;
    bottom: -8px !important;
    left: -4px !important;
    display: block !important;
    width: 25px;
    height: 50px;
}

#Womens_Power_Index-chartDiv .select2-selection .select2-selection--multiple{
  height: 52px !important;
  max-height:100px !important;

}

#Womens_Power_Index-chartDiv .select2-container--default .select2-selection--multiple{
  width: 100%;
  max-width:342px;
  min-height:52px;
}

#Womens_Power_Index-chartDiv .select2-container--default .select2-selection--multiple .select2-selection__choice{
  line-height: 25px;
  font-size: 19px;
  height: 25px !important;
  border: 1px solid #9ea3a5 !important;
}

#Womens_Power_Index-chartDiv .select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #9ea3a5 !important;
}

#Womens_Power_Index-chartDiv .legend_container text {
 fill: #4b535d !important;
}

#Womens_Power_Index-chartDiv .mlegend_container text {
 fill: #4b535d !important;
}

#Womens_Power_Index-chartDiv table.dataTable thead th.sorting:after {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojQzRDNEM0O3N0cm9rZS13aWR0aDoxLjU7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjYiIHkxPSIxNS4zIiB4Mj0iMTIiIHkyPSIyMS4zIi8+CjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxOCIgeTE9IjE1LjMiIHgyPSIxMiIgeTI9IjIxLjMiLz4KPC9zdmc+Cg==');
}

#Womens_Power_Index-chartDiv table.dataTable thead th.sorting_desc:after {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojRjI1RDI3O3N0cm9rZS13aWR0aDoxLjU7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjYiIHkxPSIxNS4zIiB4Mj0iMTIiIHkyPSIyMS4zIi8+CjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxOCIgeTE9IjE1LjMiIHgyPSIxMiIgeTI9IjIxLjMiLz4KPC9zdmc+Cg==')
  }
#Womens_Power_Index-chartDiv table.dataTable thead th.sorting_asc:after {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojRjI1RDI3O3N0cm9rZS13aWR0aDoxLjU7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjE4IiB5MT0iMjEuMyIgeDI9IjEyIiB5Mj0iMTUuMyIvPgo8bGluZSBjbGFzcz0ic3QwIiB4MT0iNiIgeTE9IjIxLjMiIHgyPSIxMiIgeTI9IjE1LjMiLz4KPC9zdmc+Cg==')
}

#Womens_Power_Index-chartDiv a.alink{
position: relative;
}

#Womens_Power_Index-chartDiv .dataTables_filter, .dataTables_info { display: none; }

.tippy-tooltip.cfr-theme {
  font-size: 13px;
  z-index: 1000;
  display: block;
  font-style: normal;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  color:#323840;
  padding: 20px;
    border-radius: 0;
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
   box-shadow:1px 1px 5px rgba(0,0,0,0.25);
  pointer-events:none;
}

.select2-selection__choice__remove{
color: white;
}


#Womens_Power_Index-chartDiv .float-right{
  right:0;
  bottom:0;
}

#Womens_Power_Index-chartDiv #table_note{
width:50%;
float:left;
padding:5px;
color:#4b535d !important;
}

#Womens_Power_Index-chartDiv #table_link{
width:50%;
float:right;
text-align: end;
padding:5px;
display: inline-block;
color:#4b535d;
}

#Womens_Power_Index-chartDiv .infoIcon{
  display: inline-block;
  position: absolute;
  padding-left: 8px;
}

#Womens_Power_Index-chartDiv .info{
  padding: 20px;
}

#Womens_Power_Index-chartDiv .removeAll{
  display: none;
}

#Womens_Power_Index-chartDiv #mobilereset{
  position: relative;
  left: 0px;
  color: #323840;
  max-width: 350px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  float: left;
  padding-bottom: 25px;
  padding-top: 25px;
  width: 100%;
}

#Womens_Power_Index-chartDiv #desktopreset{
  position: absolute;
  left: 342px;
  top: 12px;
  color: #323840;
  width:70px;
  height: 20px;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  font-size: 14px
}


#Womens_Power_Index-chartDiv .wm_cell{
  background-color:#c0d8d8;
  z-index:1
}

#Womens_Power_Index-chartDiv .sorting_1 .wm_cell{
  background-color:#9bc6cc !important;
}

#Womens_Power_Index-chartDiv .sorting_1 {

}

#Womens_Power_Index-chartDiv [class^='select2'] {
  border-radius: 0px !important;
  cursor: pointer !important;
}

#Womens_Power_Index-chartDiv .select2-container .select2-selection--single{
  height: 53px !important;
  border: 1px solid #9ea3a5 !important;
}

#Womens_Power_Index-chartDiv .select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 53px !important;
  font-size: 19px !important;
  text-indent: 18px !important;
}

#Womens_Power_Index-chartDiv .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 90%;
    min-height: 52px;
    line-height: 52px;
}

#Womens_Power_Index-chartDiv .lakes-borders{
  fill:#ffffff
}

#Womens_Power_Index-chartDiv .country-borders{
 fill:none;
 stroke:#ffffff;
 stroke-width:0.5px;
}

#Womens_Power_Index-chartDiv .country-fill{
 fill:#f2f2f2;
 stroke:none;
}

#Womens_Power_Index-chartDiv .country-hover{
 fill:#f2f2f2;
 stroke:none;
 fill-opacity:0;
 pointer-events: all;
}

#Womens_Power_Index-chartDiv .highlight{
  stroke:black;
  stroke-width:1px;
}

#Womens_Power_Index-chartDiv #map{

}

#Womens_Power_Index-chartDiv .controls {
  position: absolute;
  right: 11px;
  top: 20px;
  display: grid;
  grid-gap: 0px;
}

#Womens_Power_Index-chartDiv .controls button:nth-child(1) {
  width: 30px;
  height: 30px;
  font-size: 20px;
  display:grid;
  background: #f2f2f2;
  color: #4b535d;
  border: 0.5px solid #9ea3a5;
  cursor: pointer;
  border-bottom:none;
  box-sizing: border-box;
  padding-top: 6px;
}

#Womens_Power_Index-chartDiv .DTFC_LeftWrapper{
  z-index: 2;
}

#Womens_Power_Index-chartDiv .DTFC_LeftBodyWrapper{
  border-right: 1px solid #dddddd;
}


#Womens_Power_Index-chartDiv .DTFC_LeftBodyLiner{
overflow:hidden;
}


#Womens_Power_Index-chartDiv .controls button:nth-child(2) {
  width: 30px;
  height: 30px;
  font-size: 20px;
  display:grid;
  background: #f2f2f2;
  color: #4b535d;
  border: 0.5px solid #9ea3a5;
  cursor: pointer;
  box-sizing: border-box;
}

#Womens_Power_Index-chartDiv .controls button:active {
  background: rgba(200, 200, 200, 0.8);
}
#Womens_Power_Index-chartDiv .controls button:focus {
  outline: 0;
}

#Womens_Power_Index-chartDiv .tt_title{
  font-size: 16px;
  padding-bottom:13px;
  font-weight: bold;
}

#Womens_Power_Index-chartDiv .tt_subject{
  padding-bottom: 7px;
  width: 300px;
}

#Womens_Power_Index-chartDiv .indent{
  padding-left:20px;
}

#Womens_Power_Index-chartDiv .text-indent{
  text-indent: 5px;
}

#Womens_Power_Index-chartDiv .mtooltip{
  position: absolute;
  width: 100%;
  max-width:333px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: solid 0.5px #9ea4a6;
  background-color: #ffffff;
  color:#4d535d;
  padding:20px;
  z-index:1000;
  font-size: 14px;
}

#Womens_Power_Index-chartDiv .ttooltip{
  position: absolute;
  width: 100%;
  max-width:220px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: solid 0.5px #9ea4a6;
  background-color: #ffffff;
  color:#4d535d;
  padding:20px;
  z-index:1000;
  font-size: 14px;
  line-height: 18px;
}


#Womens_Power_Index-chartDiv .ttooltip .tooltiptext {

}

#Womens_Power_Index-chartDiv .tt_note{
  padding-top:13px;
  font-size: 12px;
  font-style:italic;
}

#Womens_Power_Index-chartDiv .legend{
  position:absolute;
  bottom: 50px;
  left:15px;
  pointer-events:none;
  font-size: 14px;
}

#Womens_Power_Index-chartDiv .mlegend{
  pointer-events:none;
  font-size: 14px;
  visibility: hidden;
}

#Womens_Power_Index-chartDiv .dataviz{
  position:relative;
  clear: both;
}

#Womens_Power_Index-chartDiv #scalechart {
  float:left;
}

#Womens_Power_Index-chartDiv #scalechart .domain {
  stroke: none;
}

#Womens_Power_Index-chartDiv .gaugeChart {
  position: relative;
}

#Womens_Power_Index-chartDiv #gaugeChart1 svg{
  margin: 0 auto;
}
#Womens_Power_Index-chartDiv #gaugeChart2 svg{
  margin: 0 auto;
}
#Womens_Power_Index-chartDiv #gaugeChart3 svg{
  margin: 0 auto;
}

#Womens_Power_Index-chartDiv .chartcontainer{
width: 33.33333%;
  float: left;
  padding:5px;
}

#Womens_Power_Index-chartDiv #gaugeChart1text{
  color:#4b535d;
  position: relative;
  font-size:20px;
  width: 100%;
  text-align: center;
  max-width: 220px;
  margin:0 auto;
  line-height:28px;
}

#Womens_Power_Index-chartDiv #gaugeChart2text{
  color:#4b535d;
  position: relative;
  font-size:20px;
  width: 100%;
  text-align: center;
  line-height:28px;
  max-width: 220px;
  margin:0 auto;
}

#Womens_Power_Index-chartDiv #gaugeChart3text{
  color:#4b535d;
  position: relative;
  font-size:20px;
  width: 100%;
  text-align: center;
  max-width: 220px;
  margin:0 auto;
    line-height:28px;
}

#Womens_Power_Index-chartDiv .takeaway{
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  max-height:60px;
  color:#494949;
}

#Womens_Power_Index-chartDiv #info3.takeaway {
  width:100%;
  float:left;
  text-align: center;
  font-size: 18px;
  line-height:26px;
  max-height:60px;
  color:#494949;
}

#Womens_Power_Index-chartDiv .bb-chart-arcs-gauge-title{
  font-size:60px !important;
  fill:#00676b !important;
  transform: translate(0, 17px);
}

#Womens_Power_Index-chartDiv .bb-arc-data1{
  stroke:#ffffff !important;
  stroke-width:1px !important;
}

#Womens_Power_Index-chartDiv .bb-chart-arcs-background{
  stroke:#ffffff !important;
  stroke-width:1px  !important
}

#Womens_Power_Index-chartDiv #description{
  float: left;
  position: relative;
  width: 60%;
  padding-left: 25px;
  padding-bottom: 50px;
  line-height: 24px;
  color: #4b535d;
  height: auto;
  padding-right: 25px;
  min-height: 125px;
}

#Womens_Power_Index-chartDiv .toolbar{
    float: left;
    position: relative;
}

#Womens_Power_Index-chartDiv .placeholder{
  width: 100%;
  height: 53px;
  position: absolute;
  top: 0;
  z-index: 2;
  line-height: 60px;
  text-indent: 18px;
  pointer-events: none;
  font-size: 19px;
  color: #4B535D;
  max-width: 342px;
}

#Womens_Power_Index-chartDiv .select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0px !important;
}

#Womens_Power_Index-chartDiv .dd-orange:after {
  content: "";
  cursor: pointer !important;
  pointer-events: none;
  position: absolute !important;
  bottom: 6px !important;
  right: 9px !important;
  display: block !important;
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image:url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjAuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHdpZHRoPSIyNHB4IiBoZWlnaHQ9IjI0cHgiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojRjI1RDI3O3N0cm9rZS13aWR0aDoxLjU7c3Ryb2tlLWxpbmVjYXA6c3F1YXJlO3N0cm9rZS1taXRlcmxpbWl0OjEwO30KPC9zdHlsZT4KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjYiIHkxPSIxNS4zIiB4Mj0iMTIiIHkyPSIyMS4zIi8+CjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxOCIgeTE9IjE1LjMiIHgyPSIxMiIgeTI9IjIxLjMiLz4KPC9zdmc+Cg==')
}

.drag_track{
background-color:rgba(255,0,0,.5);
display:inline;
width: 100%;
height: 100%;
position: absolute;
z-index: 5;
}

.quad{
display:none;
width: 100%;
height: 100%;
position: absolute;
z-index: 5;
}

.mobilelegend{
  transform: translate(5px,0);
}

.mlegend_container{
  width: 320px;
  height: 35px;
  bottom: 0;
  margin: 0 auto;
  padding-top: 20px;
}

.curtain{
  position: absolute;
  z-index: 5;
  width:100%;
  height:100%;
  background-color:rgba(255,255,255,0.75)
}

#Womens_Power_Index-chartDiv #mobile_select{
    height:215px;
}

#datawrapper-chart-4jaPC .social-sharing {
    position: fixed;
    top: 0px;
    right: 0px;
    /* z-index: 100000; */
}

#datawrapper-chart-4jaPC .linkedin {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    background: none !important;
    color: #007bb5;
    padding-top: none !important;
    padding-top: none !important;
    float: left;
    line-height: 38px;
  }

#datawrapper-chart-4jaPC .linkedin a {
      color: #007bb5 !important;
    }

#datawrapper-chart-4jaPC .facebook {
      background: none !important;
      color: #305891;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      padding-top: none !important;
      float: left;
      line-height: 39px;
  }

  #datawrapper-chart-4jaPC .facebook a{
        color: #305891 !important;
    }

#datawrapper-chart-4jaPC .twitter {
    background: none !important;
    color: #3FA1CC;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    padding-top: none !important;
    margin-top: none !important;
    float: left !important;
}

#datawrapper-chart-4jaPC .twitter a{
      color: #3FA1CC !important;
  }

@media screen and (max-width: 1023px) and (min-width: 768px)  {

  #Womens_Power_Index-chartDiv .takeaway {
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    max-height:60px;
    color:#494949;
    min-width: 330px !important;
  }

  #Womens_Power_Index-chartDiv #description{
  float: left;
  position: relative;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 20px;
  line-height: 24px;
  color: #4b535d;
  height: auto;
  padding-right: 25px;
  padding-top: 20px;
  }

  #Womens_Power_Index-chartDiv #gaugeChart1text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    max-width: 220px;
    margin:0 auto;
    line-height:26px;
  }

  #Womens_Power_Index-chartDiv #gaugeChart2text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    line-height:26px;
    max-width: 220px;
    margin:0 auto;
  }

  #Womens_Power_Index-chartDiv #gaugeChart3text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    max-width: 220px;
    margin:0 auto;
    line-height:26px;
  }
}

/*mobile size*/

@media screen and (max-width: 767px) and (min-width: 1px)  {

  #Womens_Power_Index-chartDiv #gaugeChart1text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    max-width: 220px;
    margin:0 auto;
    line-height:26px;
  }

  #Womens_Power_Index-chartDiv #gaugeChart2text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    line-height:26px;
    max-width: 220px;
    margin:0 auto;
  }

  #Womens_Power_Index-chartDiv #gaugeChart3text{
    color:#4b535d;
    position: relative;
    font-size:18px;
    width: 100%;
    text-align: center;
    max-width: 220px;
    margin:0 auto;
    line-height:26px;
  }

#Womens_Power_Index-chartDiv .select2-container--default .select2-selection--multiple .select2-selection__choice{
  font-size: 16px !important
}

#Womens_Power_Index-chartDiv #mapchart{
padding-top:17px;
}


#Womens_Power_Index-chartDiv #mobile_select{
    height:auto !important;
}

#Womens_Power_Index-chartDiv .infoIcon{
  display:none;
}

  #Womens_Power_Index-chartDiv #table_note{
  width:100%;
  float:unset;
  }

  #Womens_Power_Index-chartDiv #table_link{
  width:100%;
  float:unset;
  }

  #Womens_Power_Index-chartDiv .mlegend{
    visibility: visible;
  }

  #Womens_Power_Index-chartDiv .legend{
    visibility: hidden;
  }

  #Womens_Power_Index-chartDiv .dataviz:first-of-type{
    height: auto !important;
  }

  #Womens_Power_Index-chartDiv #description{
    padding-top: 42px;
    padding-left: 20px;
    padding-right: 20px;
    height:auto;
    width:100% !important;
  }

  #Womens_Power_Index-chartDiv .chartcontainer{
    padding: 5px;
    width: auto !important;
    margin: none;
    float: none;
  }

  #Womens_Power_Index-chartDiv .takeaway{
    width: 100%;
    padding: 0px;
    margin: 0 auto;
    clear: both;
    float: unset;
    padding-bottom: 15px;
  }

  #Womens_Power_Index-chartDiv span.select2-container{
    width:100% !important;
    margin: 0 auto !important;
    float: unset !important;
    max-width: 342px;
  }

  #Womens_Power_Index-chartDiv #select_container{
    margin: 0 auto !important;
    max-width: 342px;
  }
  #Womens_Power_Index-chartDiv .toolbar{
    width: 100% !important;
    float: unset !important;
    max-width: 342px;
  }

  #Womens_Power_Index-chartDiv .quad{
  display:inline;
  }

  #Womens_Power_Index-chartDiv .controls{
  display:none;
  }

  #Womens_Power_Index-chartDiv #table_link{
    display:none;
  }

}
